:root {
  --primary: #3f007e;
  --secondary:
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.container {
  max-width: 1200px;
  margin: 32px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 40px;

  .links {
    display: flex;
    width: 488px;
    gap: 8px;

    .logo {
      background-color: var(--primary);
      width: 160px;
      margin-right: 8px;
    }

    a {
      background-color: var(--primary);
      flex: 1;
    }
  }

  .search-avatar {
    display: flex;
    background-color: green;
    width: 371px;
    gap: 12px;

    .search{
      display: flex;
      background-color: yellow;
      flex-grow: 1;
      
    }

    .avatar{
      height: 40px;
      width: 40px;
      background-color: var(--primary);
    }

  }
}

/* big display */
@media screen and (width > 1200px) {
}
/* Tablet */
@media screen and (width < 1200px) and (width > 450px) {
}
/* Phone  */
@media screen and (width < 600px) {
}
