@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font-heading: "Outfit", serif;
  --font-body: "roboto", serif;
  --bg-color: #2d0070;
  --foreground-color: #fff;
  --primary-color: #9f3ee7;
  --secondary-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-body);
  background: var(--bg-color);
  color: var(--foreground-color);
}

h1 {
  font-size: 87px;
  color: white;
  font-family: var(--font-heading);
}

h2 {
  font-size: 57px;
  color: white;
  line-height: 1;
  font-family: var(--font-heading);
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 27.5px;
  letter-spacing: 10%;
  font-weight: 600;
  color: white;
  font-family: var(--font-heading);
}

p {
  font-size: 18px;
  line-height: 27.5px;
  color: white;
  font-family: var(--font-body);
}

li {
  font-size: 20px;
  font-family: var(--font-body);
}

a {
  font-size: 20px;
  color: var(--foreground-color);
  font-family: var(--font-body);
  transition: 0.3s ease-in-out;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.text-md {
  font-size: 16px;
  color: white;
  font-family: var(--font-body);
}

.text-sm {
  font-size: 14px;
  line-height: 120%;
  color: white;
  font-family: var(--font-body);
}

button {
  padding: 22px 32px;
  font-size: 20px;
  border-radius: 9999px;
   
  &:hover{
    cursor: pointer;
  }
}

.solid-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.outline-btn {
  background: transparent;
  color: white;
  border: 2px solid var(--primary-color);
}

.black-btn {
  background-color: var(--secondary-color);
  border: none;
  color: white;
}
/* nav section */

.container {
  max-width: 1065px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 48px;
  ul {
    display: flex;
    list-style: none;
    color: white;
    gap: 76px;
  }
}

/* hero section */

.hero_section {
  display: flex;

  .content {
    flex: 1;
    h1 {
      line-height: 1;
    }
    p {
      margin-top: 28px;
    }
  }

  .button_container {
    display: flex;
    gap: 16px;
    margin-top: 36px;
    button {
      width: 255px;
    }
  }

  .image_container {
    flex: 1;

    img {
      width: 100%;
    }
  }
}

/* brand section */

.brand_section {
  margin-top: 160px;
  .brand_logos {
    display: flex;
    height: 100px;
    align-items: center;
    padding: 19px 76px;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 33px;
    gap: 16px;
    background-color: rgba(99, 88, 189, 0.2);
  }

  .brand_logos img {
    &:first-child {
      height: 100%;
    }

    height: 50%;
  }
  margin-bottom: 100px;
}

/* feature section */

.feature_section {
  display: flex;
  align-items: center;
  gap: 45px;

  .image_container {
    flex: 1;
  }
  .image_container img {
    width: 100%;
  }

  .content {
    flex: 1;

    h2 {
      margin-top: 16px;
      margin-bottom: 20px;
    }

    button {
      margin-top: 24px;
      min-width: 356px;
    }
  }
}

/* testimonial section */

.Testimonial_section {
  margin-top: 174px;
  text-align: center;
  h2 {
    margin-top: 16px;
  }
  .testimonials {
    display: flex;
    margin-bottom: 110px;
    margin-top: 120px;
    gap: 15px;
    .card {
      background: #3e057f;
      position: relative;
      padding-top: 95px;
      padding-bottom: 48px;
      padding-left: 28px;
      padding-right: 28px;
      border-radius: 20px;
      gap: 28px;

      .image_container {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
      }
      .image_container img {
        height: 138px;
        width: 138px;
        filter: grayscale(1.5);
        opacity: 0.8;
      }
    }
  }
}

/* ready_section */

.ready_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 32px;
  background: linear-gradient(318deg, #b44cff 0%, #560d95 100%);
  height: 441px;
  border-radius: 20px;
  h2 {
    margin-top: 24px;
    margin-bottom: 48px;
  }
  button {
    max-width: 255px;
    margin: 0 auto;
    text-transform: uppercase;
  }
}

/* footer section */

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 48px;
  font-size: 16px;
  .logo {
    font-weight: bold;
  }

  .links {
    h4 {
    }

    ul {
      list-style: none;
      margin-top: 16px;
      display: flex;
      gap: 8px;
      flex-direction: column;
      li {
        font-size: 16px;
      }
    }
  }

  .newsletter {
    .input_container {
      margin-top: 20px;
      width: 345px;
      background: #13134d;
      position: relative;
      border-radius: 9999px;
      input {
        border-radius: 9999px;
        padding: 0 16px;
        height: 50px;
        background: #13134d;
        width: 100%;
        border: none;
      } 
      button {
        position: absolute;
        right: 4px;
        border-radius: 9999px;
        padding: 0;
        margin-top: 2px;
        background: var(--primary-color);
        border: none;
        color: white;
        width: 115px;
        height: 44px !important;
      }
    }
  }
}

.bottom_bar {
}


.wrapper{
  overflow: hidden;
  z-index: 10;
  position: relative;
}

.grad_bg{
  position: absolute;
  top: 0;
  width: 100%;
}